<!--@layout(/layout/basic/layout.html)-->

<!-- 삭제하지 마세요!! 삭제 시 기능오류 발생할 수 있습니다!! [스마트스킨] -->
<script>
function SMARTSKIN_MAIN_OBJECT_CHECK_M(key){
	if(typeof(SMARTSKIN_MAIN_OBJECT)!="undefined" || typeof(SMARTSKIN_MAIN_OBJECT)!=typeof undefined){
		if(key){
			if(typeof(SMARTSKIN_MAIN_OBJECT[key])!="undefined" || typeof(SMARTSKIN_MAIN_OBJECT[key])!=typeof undefined)
				return SMARTSKIN_MAIN_OBJECT[key];
			else
				return false;
		}else{
			return true
		}
		
	}else{
		return false;
	}
}

//스마트스킨 Object
if(SMARTSKIN_MAIN_OBJECT_CHECK_M()) SMARTSKIN_MAIN_OBJECT.main=true;

</script>
<style>
#SMS_oneSlideBanner .SMS_oneNone{display: block;}
#SMS_oneSlideBanner .SMS_fixed_inner{position: absolute;}
</style>
<!-- 삭제하지 마세요!! 삭제 시 기능오류 발생할 수 있습니다!! [스마트스킨] -->


<!-- 메인배너 영역 -->
	<div class="swiper-container SMS_main_gallery">	
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="http://placehold.it/500x500" onclick="location.href='#'"></div>
			<div class="swiper-slide"><img src="http://placehold.it/500x500" onclick="location.href='#'"></div>
		</div>	
		
		<!-- Add Pagination -->
		<div class="swiper-pagination"></div>
		
		<!-- 페이징 사용 시 swiper-pagination 지우면 주석처리하면 안됩니다. loop는 지원 안됩니다. -->
		<div class="SMS_swiper_pagingnumber"><span class="active"></span>/<span class="total"></span></div>
		
		<!-- Add Arrows -->
		<div class="SMS_swiper_buttonNext"></div>
		<div class="SMS_swiper_buttonPrev"></div>				
		
	</div>
<!-- //메인배너 영역 -->

<!--SMS_Topmodule_06 container START-->
<div id="SMS_TopMenu_Icon"></div>
<!--SMS_Topmodule_06 container END-->





<!--자주가는 카테고리 신상품 노출 영역-->
<div id="SMS_myFavorite_categoryNEW">
	<div class="myFavoriteText">
		<b>내가 자주가는 카테고리의<br><span>"신상품"</span>을 확인하세요</b>
	</div>
	<div class="title">내가 자주가는 카테고리 신상품</div>
</div>
<!--자주가는 카테고리 신상품 노출 영역-->








<!-- 메인 1단 배너 -->
<div class="SMSbanner">
	<div><a href="#"><img src="http://placehold.it/500x90"></a></div>
</div>
<!-- 메인 1단 배너 -->


<!-- 메인 2단 배너 -->
<div class="SMSbanner">
	<div><a href="#"><img src="http://placehold.it/500x90"></a></div>
	<div><a href="#"><img src="http://placehold.it/500x90"></a></div>
</div>
<!-- 메인 2단 배너 -->


<!-- 메인 3단 배너 -->
<div class="SMSbanner">
	<div><a href="#"><img src="http://placehold.it/500x90"></a></div>
	<div><a href="#"><img src="http://placehold.it/500x90"></a></div>
	<div><a href="#"><img src="http://placehold.it/500x90"></a></div>
</div>
<!-- 메인 3단 배너 -->


카테고리 네이버 갤러리 사용
<!--네이버 갤러리 -->
<div id="SMSnaverStyleGallery1" class="SMSnaverStyleGallery">
	<div class="SMSnaverTab">
		<span cate="024" move="true">tab1</span>
		<span cate="025">tab2</span>
		<span cate="026">tab3</span>
		<span cate="027">tab4</span>
		<span cate="028">tab5</span>
	</div>	
	<div class="SMSnaverContainer">
		<div class="SMScontent cate">
			<ul class="items SMSitems">
				<li>
					<div class="container">
					<!-- 찜하기 -->
						<div class="SMS_loveWish">
							<div class="SMS_loveOn"></div>
							<div class="SMS_loveView"><a href="#">ALL</a></div>
						</div>
						<a class="SMS_Viewlink"></a>
							<dl>										
								<dt class="thumb"></dt>								
								<div class="SMS_base_mask">									
									<dd class="info_container">
										<p class="name"></p>
										<p class="subname"></p>
										<p class="subnameSimple"></p>
										<p class="icons"></p>
									</dd>																				
									<dd class="price_container">
										<p class="custom_price strike"></p>
										<p class="price"></p>
									</dd>
									<dd class="add_container"></dd>
								</div>											
							</dl>												
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="SMSmovetoCategory origin">카테고리 더보기</div>
</div>
<!--//네이버 갤러리 //-->




메인진열 사용
<!--네이버 갤러리 -->
<div id="SMSnaverStyleGallery2" class="SMSnaverStyleGallery">
	<div class="SMSnaverTab">
		<span move="true">tab1</span>
		<span cate="024">tab2</span>
		<span cate="026">tab3</span>
		<span cate="027">tab4</span>
		<span cate="028">tab5</span>
	</div>	
	<div class="SMSnaverContainer">
	
	
		<div class="SMScontent cate">
			<ul class="items SMSitems">
				<li>
					<div class="container">					
						<!-- 핀하기 -->
						<div class="SMS_loveWish">
							<div class="SMS_loveOn"></div>
							<div class="SMS_loveView"><a href="#">ALL</a></div>
						</div>
						
						<a class="SMS_Viewlink"></a>
							<dl>										
								<dt class="thumb"></dt>								
								<div class="SMS_base_mask">									
									<dd class="info_container">
										<p class="name"></p>
										<p class="subname"></p>
										<p class="subnameSimple"></p>
										<p class="icons"></p>
									</dd>																				
									<dd class="price_container">
										<p class="custom_price strike"></p>
										<p class="price"></p>
									</dd>
									<dd class="add_container"></dd>
								</div>											
							</dl>												
					</div>
				</li>
			</ul>
		</div>
		
		
		
		<div class="SMScontent" module="product_listmain_1">
		<!--
			$count = 6
			$moreview = yes
			$cache = yes
		-->
		<ul class="items SMSitems" >		
			<li>			
				<div class="container">  
					<dl>
						<!-- 핀하기 -->
						<div class="SMS_loveWish">
							<div class="SMS_loveOn"></div>
							<div class="SMS_loveView"><a href="#">ALL</a></div>
						</div>
						
						<a href="/product/detail.html{$param}" class="SMS_Viewlink"></a>
						
						<div class="SMS_base_img">
							<div class="thumb"><img src="{$image_medium}" alt=""></div>							
						</div>          
						
						<div class="SMS_base_mask">     
							<dd class="info_container">
								<p class="name {$product_name_display|display}">{$product_name}</p>
								<p class="subname">{$summary_desc}</p>
								<p class="subnameSimple">{$simple_desc}</p>                                           
							</dd>						
							
							<dd class="price_container">
                               <p class="custom_price strike {$product_custom|display}">{$disp_product_custom}</p>
                               <p class="price {$product_price_display|display} {$product_sale_strike}">{$disp_product_price} <span class="{$product_price_ref_display|display}">{$txt_product_price_ref}</span></p>
                               <p class="sale_price {$product_sale_display|display}">{$product_sale_price}</p>
                           </dd>						
														
							<dd class="icons">{$soldout_icon} {$new_icon} {$recommend_icon} {$product_icons}</dd>
							<dd class="add_container">
								<div class="{$colorchip_display|display}">
									<div class="color" module="product_Colorchip">
										<span class="chips" style="background-color:{$color};"></span>
										<span class="chips" style="background-color:{$color};"></span>
									</div>
								</div>							
							</dd>
							
							<dd class="SMS_pm_link">More Details</dd>
							
						</div>
					</dl>  
				</div>					
			</li>
			
			<li>			
				<div class="container">  
					<dl>
						<!-- 핀하기 -->
						<div class="SMS_loveWish">
							<div class="SMS_loveOn"></div>
							<div class="SMS_loveView"><a href="#">ALL</a></div>
						</div>
						
						<a href="/product/detail.html{$param}" class="SMS_Viewlink"></a>	
						
						<div class="SMS_base_img">
							<div class="thumb"><img src="{$image_medium}" alt=""></div>							
						</div>          
						
						<div class="SMS_base_mask">     
							<dd class="info_container">
								<p class="name {$product_name_display|display}">{$product_name}</p>
								<p class="subname">{$summary_desc}</p>
								<p class="subnameSimple">{$simple_desc}</p>                                           
							</dd>
							
							<dd class="price_container">
                               <p class="custom_price strike {$product_custom|display}">{$disp_product_custom}</p>
                               <p class="price {$product_price_display|display} {$product_sale_strike}">{$disp_product_price} <span class="{$product_price_ref_display|display}">{$txt_product_price_ref}</span></p>
                               <p class="sale_price {$product_sale_display|display}">{$product_sale_price}</p>
                           </dd>
							
							<dd class="icons">{$soldout_icon} {$new_icon} {$recommend_icon} {$product_icons}</dd>
							<dd class="add_container">
								<div class="{$colorchip_display|display}">
									<div class="color" module="product_Colorchip">
										<span class="chips" style="background-color:{$color};"></span>
										<span class="chips" style="background-color:{$color};"></span>
									</div>
								</div>							
							</dd>
							
						</div>
					</dl>  
				</div>	
				
			</li>	
			
		</ul>
	</div>
	</div>
	<div class="SMSmovetoCategory origin">카테고리 더보기</div>
</div>
<!--//네이버 갤러리 //-->











<div id="SMSmainDisplayPrd1" class="SMS_Product_display">
		
	<h3>카테고리 상품</h3>
	<div id="prdviewContainer" class="SMScategoryView">
		<ul>
			<li class="display1"></li>
			<li class="display2"></li>
			<li class="display3 over3"></li>
			<li class="display4"></li>
		</ul>
	</div>
	<div class="mPrdList typeThumb">
		<ul class="items SMSitems">		
			<li class="dummy" style="display:none">			
				<div class="container">  
					<dl>
					
						<!-- 핀하기 -->
						<div class="SMS_loveWish">
							<div class="SMS_loveOn"></div>
							<div class="SMS_loveView"><a href="#">ALL</a></div>
						</div>
						
						<a href="" class="SMS_Viewlink"></a>
						
						<div class="SMS_base_img">
							<div class="thumb"></div>							
						</div>          
						
						<div class="SMS_base_mask">     
							<dd class="info_container">
								<p class="name"></p>
								<p class="subname"></p>
								<p class="subnameSimple"></p>                                           
							</dd>						
							
							<dd class="price_container">
								<p class="custom_price strike"></p>
								<p class="price"></p>
							</dd>							
														
							<dd class="icons"></dd>
							
							<dd class="SMS_pm_link">More Details</dd>							
						</div>
					</dl>  
				</div>					
			</li>
		</ul>
	</div>
	<div class="SMS_moreBtn">
		<a href="" >
			<div class="btn_moreGray">더보기(<span id="more_current_page"></span>/<span id="more_total_page"></span>)</div>
		</a>
	</div>
</div>



<div class="SMS_Product_display">
	<h3>NEW ARRIVALS</h3>
	<div id="prdviewContainer" class="SMScategoryView">
		<ul>
			<li class="display1"></li>
			<li class="display2"></li>
			<li class="display3 over3"></li>
			<li class="display4"></li>
		</ul>
	</div>
	<div module="product_listmain_1">
		<!--
			$count = 6
			$moreview = yes
			$cache = yes
		-->
		<ul class="items SMSitems" >		
			<li>			
				<div class="container">  
					<dl>
					
						<!-- 핀하기 -->
						<div class="SMS_loveWish">
							<div class="SMS_loveOn"></div>
							<div class="SMS_loveView"><a href="#">ALL</a></div>
						</div>
						
						<a href="/product/detail.html{$param}" class="SMS_Viewlink"></a>
						
						<div class="SMS_base_img">
							<div class="thumb"><img src="{$image_medium}" alt=""></div>							
						</div>          
						
						<div class="SMS_base_mask">     
							<dd class="info_container">
								<p class="name {$product_name_display|display}">{$product_name}</p>
								<p class="subname">{$summary_desc}</p>
								<p class="subnameSimple">{$simple_desc}</p>                                           
							</dd>						
							
							<dd class="price_container">
                               <p class="custom_price strike {$product_custom|display}">{$disp_product_custom}</p>
                               <p class="price {$product_price_display|display} {$product_sale_strike}">{$disp_product_price} <span class="{$product_price_ref_display|display}">{$txt_product_price_ref}</span></p>
                               <p class="sale_price {$product_sale_display|display}">{$product_sale_price}</p>
                           </dd>						
														
							<dd class="icons">{$soldout_icon} {$new_icon} {$recommend_icon} {$product_icons}</dd>
							<dd class="add_container">
								<div class="{$colorchip_display|display}">
									<div class="color" module="product_Colorchip">
										<span class="chips" style="background-color:{$color};"></span>
										<span class="chips" style="background-color:{$color};"></span>
									</div>
								</div>							
							</dd>
							
							<dd class="SMS_pm_link">More Details</dd>
							
						</div>
					</dl>  
				</div>					
			</li>
			
			<li>			
				<div class="container">  
					<dl>					
						<!-- 핀하기 -->
						<div class="SMS_loveWish">
							<div class="SMS_loveOn"></div>
							<div class="SMS_loveView"><a href="#">ALL</a></div>
						</div>						
						<a href="/product/detail.html{$param}" class="SMS_Viewlink"></a>
						
						<div class="SMS_base_img">
							<div class="thumb"><img src="{$image_medium}" alt=""></div>							
						</div>          
						
						<div class="SMS_base_mask">     
							<dd class="info_container">
								<p class="name {$product_name_display|display}">{$product_name}</p>
								<p class="subname">{$summary_desc}</p>
								<p class="subnameSimple">{$simple_desc}</p>                                           
							</dd>
							
							<dd class="price_container">
                               <p class="custom_price strike {$product_custom|display}">{$disp_product_custom}</p>
                               <p class="price {$product_price_display|display} {$product_sale_strike}">{$disp_product_price} <span class="{$product_price_ref_display|display}">{$txt_product_price_ref}</span></p>
                               <p class="sale_price {$product_sale_display|display}">{$product_sale_price}</p>
                           </dd>
							
							<dd class="icons">{$soldout_icon} {$new_icon} {$recommend_icon} {$product_icons}</dd>
							<dd class="add_container">
								<div class="{$colorchip_display|display}">
									<div class="color" module="product_Colorchip">
										<span class="chips" style="background-color:{$color};"></span>
										<span class="chips" style="background-color:{$color};"></span>
									</div>
								</div>							
							</dd>
							
						</div>
					</dl>  
				</div>	
				
			</li>	
			
		</ul>
	</div>
	
	<div module="product_listmore_1" class="SMS_moreBtn">
		<a href="#none" onclick="{$more_action}">
			<div class="btn_moreGray">더보기(<span id="more_current_page_{$display_group}">{$current_page}</span>/<span id="more_total_page_{$display_group}">{$total_page}</span>)</div>
		</a>
	</div>
</div>







    
<script type="text/javascript">
	//스마트스킨 전체팝업
	function PrivateModeCheckMain(){
		try{
			sessionStorage.setItem("SMSprivateMode", true);
			sessionStorage.removeItem("SMSprivateMode"); 		
			return true;
		}catch(e){
			return false;
		}
	}
	
	function SMSmainPopupFunction(){
		if(!PrivateModeCheckMain()) return;
		
		try { 
			if(SMARTSKIN_MAIN_OBJECT_CHECK_M()){
				
				// 메인 팝업 버전 5.0
				if(SMARTSKIN_MAIN_OBJECT_CHECK_M("popup")){
					if(SMS$("#smartskinMain_popup").length){    
					
						var smsPopupData=sessionStorage.getItem("SMSglobalData");	
						if(!smsPopupData)smsPopupData={}; else smsPopupData=JSON.parse(smsPopupData);
						if(typeof(smsPopupData["mainPopup"])==undefined || typeof(smsPopupData["mainPopup"])=="undefined") smsPopupData["mainPopup"]={};
						
						if(smsPopupData["mainPopup"]!="open"){
							
							//오늘 하루 열지 않기
							var smsDatedata=localStorage.getItem("SMSglobalData");	
							if(!smsDatedata)smsDatedata={}; else smsDatedata=JSON.parse(smsDatedata);
							if(typeof(smsDatedata["mainPopupTime"])==undefined || typeof(smsDatedata["mainPopupTime"])=="undefined") smsDatedata["mainPopupTime"]={};		
								
							if(!isNaN(parseInt(smsDatedata["mainPopupTime"]))){
								var smsDate=new Date();
								var nowTime=smsDate.getTime();
								var smsDay=nowTime-parseInt(smsDatedata["mainPopupTime"]);
								smsDay=Math.floor(smsDay/(1000*60*60*24));
								if(smsDay>=1){                  
									smsPopupData["mainPopup"]="open";
									SMS$("#smartskinMain_popup").show();
									SMSmainPopupAutoclose();
									
								}
							}else{            
								smsPopupData["mainPopup"]="open";
								SMS$("#smartskinMain_popup").show();
								SMSmainPopupAutoclose();
							}
							
							sessionStorage.setItem("SMSglobalData",JSON.stringify(smsPopupData));			
						}
						
					}
				}
			} 
		} catch (e) {
			//error
		}
	}
	function SMSmainPopupAutoclose(){
		var _duration=SMARTSKIN_MAIN_OBJECT_CHECK_M("popupCloseTime");
		if(_duration>=1000){
			setTimeout(function(){
				SMS$("#smartskinMain_popup").fadeOut(800);
			},_duration);
		}
	}	
	SMSmainPopupFunction();
	//스마트스킨 전체팝업
	
		
	
	
</script>


